* {
	margin: 0;
	padding:0;
}

a {
	text-decoration: none;
	color: #ff3300;
}

@font-face {
	font-style: normal;
	font-weight: normal;
}

body {
	background-color: #FFF;
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;	
	 margin-top: 125px;
}

#middle hr {
	color: #FF3300;
	width: 100%;
}


h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;	
	border-bottom: 1px solid #ff3300;
	padding: 0 0 30px 0;
	text-align: center;
}

h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;	
	padding: 0 0 0 0;
	text-align: center;
	text-decoration: none;
}

/* For Devlog page */
#content h3 {
    color: #c4122f;
    font-size: 1.875em;
    font-weight: 300;
    line-height: 125%;
}


h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;	
	padding: 0 0 20px 0;
	text-align: center;
}

p {
	font-size: 1em;  /* 16px */
	line-height: 150%; /* 24px */
	padding-bottom: 10px;
	margin-top: 10px;
}

/* BEGIN NAV CSS */

.navbar-fixed-top .nav {
    padding: 15px 0;
}

/* END NAV CSS */


#middle {
	max-width: 960px;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
}

#forum {
	margin: 10px auto;
	max-width: 960px;
}


@media (min-width: 500px) {

	.row:after {
		clear: both;
		display: table;
		border-top: 1px solid #ff3300;
	}

	.column-half {
		box-sizing: border-box;
		float: left;
		padding: 0 20px;
		width: 50%;
		
	}
}

#footer {
    border-top: 1px solid #ff3300;
    clear: both;
	font-size: 14px;
	color: #ccc;
    margin: 10px auto;
    max-width: 980px;
    padding: 50px 0 0 0;
	text-align: center;
	text-decoration: none;
}

